*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: hsl(196, 78%, 61%);
    --secondary-color: hsl(217, 15%, 83%);
    --success-color: hsl(165, 58%, 55%);
    --info-color: hsl(214, 79%, 65%);
    --warning-color: hsl(43, 100%, 66%);
    --danger-color: hsl(354, 81%, 63%);
    --primary-color-darker: hsl(196, 68%, 54%);
    --secondary-color-darker: hsl(215, 13%, 70%);
    --success-color-darker: hsl(165, 55%, 48%);
    --info-color-darker: hsl(214, 68%, 58%);
    --warning-color-darker: hsl(39, 97%, 62%);
    --danger-color-darker: hsl(354, 67%, 56%);
    --primary-color-lighter: hsl(196, 78%, 81%);
    --secondary-color-lighter: hsl(214, 16%, 92%);
    --success-color-lighter: hsl(165, 58%, 75%);
    --info-color-lighter: hsl(214, 79%, 85%);
    --warning-color-lighter: hsl(43, 100%, 86%);
    --danger-color-lighter: hsl(354, 81%, 83%);
    --secondary-color-darkest: hsl(215, 11%, 30%);
    --secondary-color-lightest: hsl(220, 1%, 98%);
    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
body {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    /* overflow: hidden; */
  }
  
  .stars {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-30deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 6.02em;
    --top-offset: 31.51vh;
    --fall-duration: 6.342s;
    --fall-delay: 7.815s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.88em;
    --top-offset: 45.64vh;
    --fall-duration: 7.71s;
    --fall-delay: 8.406s;
  }
  .star:nth-child(3) {
    --star-tail-length: 7.19em;
    --top-offset: 38.48vh;
    --fall-duration: 10.689s;
    --fall-delay: 9.056s;
  }
  .star:nth-child(4) {
    --star-tail-length: 5.2em;
    --top-offset: 35.16vh;
    --fall-duration: 8.87s;
    --fall-delay: 2.849s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.7em;
    --top-offset: 33.99vh;
    --fall-duration: 6.564s;
    --fall-delay: 6.781s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.02em;
    --top-offset: 97.95vh;
    --fall-duration: 7.302s;
    --fall-delay: 0.432s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.74em;
    --top-offset: 33.52vh;
    --fall-duration: 11.097s;
    --fall-delay: 1.127s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.86em;
    --top-offset: 34.04vh;
    --fall-duration: 7.59s;
    --fall-delay: 8.928s;
  }
  .star:nth-child(9) {
    --star-tail-length: 5.14em;
    --top-offset: 45.01vh;
    --fall-duration: 8.515s;
    --fall-delay: 1.251s;
  }
  .star:nth-child(10) {
    --star-tail-length: 7.05em;
    --top-offset: 67.14vh;
    --fall-duration: 9.186s;
    --fall-delay: 1.646s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.7em;
    --top-offset: 74.44vh;
    --fall-duration: 10.177s;
    --fall-delay: 7.162s;
  }
  .star:nth-child(12) {
    --star-tail-length: 7.14em;
    --top-offset: 93.02vh;
    --fall-duration: 7.08s;
    --fall-delay: 1.498s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.36em;
    --top-offset: 56.45vh;
    --fall-duration: 9.918s;
    --fall-delay: 1.825s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.16em;
    --top-offset: 64.78vh;
    --fall-duration: 6.267s;
    --fall-delay: 7.017s;
  }
  .star:nth-child(15) {
    --star-tail-length: 7.19em;
    --top-offset: 27.85vh;
    --fall-duration: 8.078s;
    --fall-delay: 3.386s;
  }
  .star:nth-child(16) {
    --star-tail-length: 7.2em;
    --top-offset: 9.84vh;
    --fall-duration: 11.092s;
    --fall-delay: 6.588s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.73em;
    --top-offset: 97.14vh;
    --fall-duration: 10.435s;
    --fall-delay: 1.258s;
  }
  .star:nth-child(18) {
    --star-tail-length: 5.84em;
    --top-offset: 76.68vh;
    --fall-duration: 7.307s;
    --fall-delay: 9.729s;
  }
  .star:nth-child(19) {
    --star-tail-length: 5.09em;
    --top-offset: 38.27vh;
    --fall-duration: 7.095s;
    --fall-delay: 8.418s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.1em;
    --top-offset: 38.91vh;
    --fall-duration: 6.547s;
    --fall-delay: 7.456s;
  }
  .star:nth-child(21) {
    --star-tail-length: 5.57em;
    --top-offset: 68.66vh;
    --fall-duration: 11.807s;
    --fall-delay: 5.313s;
  }
  .star:nth-child(22) {
    --star-tail-length: 6.54em;
    --top-offset: 81.24vh;
    --fall-duration: 9.92s;
    --fall-delay: 2.261s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.16em;
    --top-offset: 83.13vh;
    --fall-duration: 10.503s;
    --fall-delay: 8.637s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.56em;
    --top-offset: 19.36vh;
    --fall-duration: 11.351s;
    --fall-delay: 9.142s;
  }
  .star:nth-child(25) {
    --star-tail-length: 7.38em;
    --top-offset: 44.12vh;
    --fall-duration: 10.576s;
    --fall-delay: 7.963s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.15em;
    --top-offset: 17.64vh;
    --fall-duration: 9.972s;
    --fall-delay: 5.054s;
  }
  .star:nth-child(27) {
    --star-tail-length: 6.91em;
    --top-offset: 51.04vh;
    --fall-duration: 8.946s;
    --fall-delay: 1.203s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.69em;
    --top-offset: 45.15vh;
    --fall-duration: 9.093s;
    --fall-delay: 8.245s;
  }
  .star:nth-child(29) {
    --star-tail-length: 7.1em;
    --top-offset: 52.98vh;
    --fall-duration: 7.575s;
    --fall-delay: 0.403s;
  }
  .star:nth-child(30) {
    --star-tail-length: 5.04em;
    --top-offset: 64.83vh;
    --fall-duration: 7.205s;
    --fall-delay: 4.072s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.06em;
    --top-offset: 49.88vh;
    --fall-duration: 6.334s;
    --fall-delay: 6.887s;
  }
  .star:nth-child(32) {
    --star-tail-length: 7.3em;
    --top-offset: 75.89vh;
    --fall-duration: 8.723s;
    --fall-delay: 8.669s;
  }
  .star:nth-child(33) {
    --star-tail-length: 7.31em;
    --top-offset: 56.95vh;
    --fall-duration: 10.724s;
    --fall-delay: 3.108s;
  }
  .star:nth-child(34) {
    --star-tail-length: 7.13em;
    --top-offset: 91.69vh;
    --fall-duration: 10.177s;
    --fall-delay: 2.122s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.89em;
    --top-offset: 37.51vh;
    --fall-duration: 6.244s;
    --fall-delay: 4.033s;
  }
  .star:nth-child(36) {
    --star-tail-length: 5.75em;
    --top-offset: 32.31vh;
    --fall-duration: 8.784s;
    --fall-delay: 1.954s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.54em;
    --top-offset: 54.5vh;
    --fall-duration: 9.734s;
    --fall-delay: 0.594s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.37em;
    --top-offset: 32.53vh;
    --fall-duration: 11.068s;
    --fall-delay: 4.295s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.46em;
    --top-offset: 14.31vh;
    --fall-duration: 10.433s;
    --fall-delay: 0.877s;
  }
  .star:nth-child(40) {
    --star-tail-length: 7.28em;
    --top-offset: 73.06vh;
    --fall-duration: 6.775s;
    --fall-delay: 5.678s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.81em;
    --top-offset: 8vh;
    --fall-duration: 8.38s;
    --fall-delay: 7.603s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.36em;
    --top-offset: 76.4vh;
    --fall-duration: 6.324s;
    --fall-delay: 4.071s;
  }
  .star:nth-child(43) {
    --star-tail-length: 7.08em;
    --top-offset: 17.32vh;
    --fall-duration: 7.142s;
    --fall-delay: 1.092s;
  }
  .star:nth-child(44) {
    --star-tail-length: 7.09em;
    --top-offset: 60.43vh;
    --fall-duration: 6.579s;
    --fall-delay: 9.496s;
  }
  .star:nth-child(45) {
    --star-tail-length: 7.38em;
    --top-offset: 69.85vh;
    --fall-duration: 7.411s;
    --fall-delay: 4.871s;
  }
  .star:nth-child(46) {
    --star-tail-length: 7.15em;
    --top-offset: 69.11vh;
    --fall-duration: 11.203s;
    --fall-delay: 5.834s;
  }
  .star:nth-child(47) {
    --star-tail-length: 7.34em;
    --top-offset: 93.15vh;
    --fall-duration: 11.691s;
    --fall-delay: 6.017s;
  }
  .star:nth-child(48) {
    --star-tail-length: 7.38em;
    --top-offset: 22.15vh;
    --fall-duration: 6.087s;
    --fall-delay: 7.461s;
  }
  .star:nth-child(49) {
    --star-tail-length: 5.06em;
    --top-offset: 54.13vh;
    --fall-duration: 11.828s;
    --fall-delay: 2.029s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.17em;
    --top-offset: 98.64vh;
    --fall-duration: 8.211s;
    --fall-delay: 9.05s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }